<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Key" value="Oemplus"/>
    <add key="SuspendTime" value="5000"/>
    <add key="ProcessName" value="notepad"/>
    <!--<add key="ProcessID" value="1234"/>-->
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>